<% provide(:title, 'About') %>

<h1>About <span class="quoth">quot<span class="dot">h.</span></span></h1>

<p><span class="quoth">quot<span class="dot">h.</span></span> is built using the Ruby on Rails framework.</p>