<footer class="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Blog', '#' %></li>
        <li><%= link_to 'Privacy', privacy_path %></li>
        <li class="navbar-text">&copy;2014 Nikita Avvakumov</li>
      </ul>
    </div>
  </nav>
</footer>